<!DOCTYPE html>
<html>
  <head>
    <title>tChat</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'css_reset', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <a href="https://www.linkedin.com/in/mattieholtzer/">
      <img class="linkedin" src=<%= asset_path("linkedin-logo.png") %> />
    </a>
  </footer>

</html>
